# Sprint 3 · Webinar 8 — Clase Practica de SQL (RunSQL)

**Enfoque:** practicar unicamente codigo SQL (DDL, DML y SELECT) usando el entorno gratuito de RunSQL.

**Duracion sugerida:** 120–150 min  
**Autor:** Tripleten MT

> Este notebook es un guion de practica: copia el SQL de cada celda y pegalo en el editor de RunSQL para ejecutarlo.

<div style="text-align: center">
    <img src="https://raw.githubusercontent.com/ljpiere/tpdata_python/main/images/w1s1_2.png" width="400">
</div>

## Objetivos de aprendizaje
1. Crear tablas y claves (DDL) en SQL puro.
2. Insertar datos de prueba (DML) y validar consultas base.
3. Practicar SELECT con JOIN, GROUP BY, ORDER BY y filtros temporales.
4. Calcular KPIs: revenue, cost, gross_profit, margin_pct y ROI por campana.
5. Resolver ejercicios con enunciado y luego comparar con la solucion propuesta.

## Agenda
0) Configuracion rapida en RunSQL (gratuito)  
1) Reset de esquema y creacion de tablas (DDL)  
2) Insercion de datos (DML)  
3) Consultas base  
4) JOINs y agregaciones para KPIs  
5) ROI por campana  
6) Ejercicios guiados (con soluciones)  
7) Retos opcionales

## 0) Configuracion rapida en RunSQL
1. Abre **runsql.com** y crea un nuevo playground (sin registro o con cuenta gratuita).
2. En el editor, selecciona dialecto **PostgreSQL** (o por defecto si aparece).
3. Crea el esquema pegando los bloques DDL de la seccion 1 (en el orden dado).
4. Inserta datos pegando los bloques DML de la seccion 2.
5. Ejecuta las consultas de las secciones siguientes y revisa los resultados.

Tip: Guarda el enlace compartible del playground para que tus estudiantes/pruebas tengan el mismo entorno.

## 1) Reset y creacion de tablas (DDL)
Ejecuta estos bloques **en orden**. Primero, elimina tablas si existen para empezar limpio.

In [ ]:
-- 1.1) Reset del esquema (orden por FKs)
DROP TABLE IF EXISTS marketing_spend;
DROP TABLE IF EXISTS sales;
DROP TABLE IF EXISTS products;
DROP TABLE IF EXISTS stores;

In [ ]:
-- 1.2) Tabla: stores
CREATE TABLE stores (
  store_id    INTEGER PRIMARY KEY,
  store_name  VARCHAR(80) NOT NULL,
  region      VARCHAR(40) NOT NULL
);

In [ ]:
-- 1.3) Tabla: products
CREATE TABLE products (
  product_id   INTEGER PRIMARY KEY,
  product_name VARCHAR(80) NOT NULL,
  category     VARCHAR(40) NOT NULL,
  unit_cost    NUMERIC(12,2) NOT NULL,
  unit_price   NUMERIC(12,2) NOT NULL
);

In [ ]:
-- 1.4) Tabla: sales
CREATE TABLE sales (
  sale_id    INTEGER PRIMARY KEY,
  sale_date  DATE NOT NULL,
  store_id   INTEGER NOT NULL REFERENCES stores(store_id),
  product_id INTEGER NOT NULL REFERENCES products(product_id),
  units      INTEGER NOT NULL CHECK (units >= 0)
);

In [ ]:
-- 1.5) Tabla: marketing_spend
CREATE TABLE marketing_spend (
  campaign_id   INTEGER PRIMARY KEY,
  campaign_name VARCHAR(80) NOT NULL,
  start_date    DATE NOT NULL,
  end_date      DATE NOT NULL,
  channel       VARCHAR(40) NOT NULL,
  spend         NUMERIC(12,2) NOT NULL CHECK (spend >= 0),
  store_id      INTEGER NOT NULL REFERENCES stores(store_id)
);

## 2) Insercion de datos (DML)
Puebla el esquema con datos de prueba (Q3-2025).

In [ ]:
-- 2.1) stores
INSERT INTO stores (store_id, store_name, region) VALUES
  (1, 'Cali Norte',  'West'),
  (2, 'Cali Sur',    'West'),
  (3, 'Bogota Centro','East'),
  (4, 'Medellin',    'North');

In [ ]:
-- 2.2) products
INSERT INTO products (product_id, product_name, category, unit_cost, unit_price) VALUES
  (101, 'Mouse',        'Accesorios', 12.00, 20.00),
  (102, 'Teclado',      'Accesorios', 18.00, 30.00),
  (103, 'Headphones',   'Audio',      35.00, 60.00),
  (104, 'Tablet 8"',   'Tablets',    80.00, 120.00);

In [ ]:
-- 2.3) sales (jul-sep 2025)
INSERT INTO sales (sale_id, sale_date, store_id, product_id, units) VALUES
  (1, '2025-07-05', 1, 101, 40),
  (2, '2025-07-12', 1, 102, 25),
  (3, '2025-07-19', 2, 103, 15),
  (4, '2025-07-26', 3, 104, 10),
  (5, '2025-08-02', 1, 103, 22),
  (6, '2025-08-09', 2, 101, 30),
  (7, '2025-08-16', 2, 104, 12),
  (8, '2025-08-23', 4, 102, 18),
  (9, '2025-09-06', 3, 101, 50),
  (10,'2025-09-13', 4, 103, 16),
  (11,'2025-09-20', 1, 104, 14),
  (12,'2025-09-27', 2, 102, 20);

In [ ]:
-- 2.4) marketing_spend
INSERT INTO marketing_spend (campaign_id, campaign_name, start_date, end_date, channel, spend, store_id) VALUES
  (201, 'BackToSchool', '2025-08-01', '2025-08-31', 'Ads',   1200.00, 1),
  (202, 'HeadphonesQ3', '2025-07-01', '2025-09-30', 'Social', 800.00, 2),
  (203, 'TabletFlash',  '2025-09-01', '2025-09-15', 'Email',  300.00, 3),
  (204, 'Accesorios+',  '2025-07-15', '2025-08-15', 'Ads',    600.00, 4);

## 3) Consultas base
### 3.1) SELECT + WHERE + ORDER BY (ventas de septiembre) (Breakout rooms)
Criterio: 2025-09-01 a 2025-09-30.

Hagamos el siguiente ejercicio:

1. Une las tablas de sales, stores y products.
2. Selecciona las columnas que consideras relevantes de cada tabla.
3. Filtra los datos para la fecha de ventas entre `2025-09-01` y `2025-09-30`.
4. Ordena las fulas por la cantidad de unidades de forma descendente.

## 4) JOINs y agregaciones para KPIs
### 4.1) Ingresos y costos por producto
Definiciones: revenue = units * unit_price; cost = units * unit_cost.

In [ ]:
SELECT
  p.product_name,
  SUM(s.units * p.unit_price) AS revenue,
  SUM(s.units * p.unit_cost)  AS cost
FROM sales s
JOIN products p ON s.product_id = p.product_id
GROUP BY p.product_name
ORDER BY revenue DESC;

### 4.2) KPIs por categoria (revenue, cost, gross_profit, margin_pct)

In [ ]:
SELECT
  p.category,
  SUM(s.units * p.unit_price) AS revenue,
  SUM(s.units * p.unit_cost)  AS cost,
  (SUM(s.units * p.unit_price) - SUM(s.units * p.unit_cost)) AS gross_profit,
  ROUND(
    100.0 * (SUM(s.units * p.unit_price) - SUM(s.units * p.unit_cost))
    / NULLIF(SUM(s.units * p.unit_price), 0), 2
  ) AS margin_pct
FROM sales s
JOIN products p ON s.product_id = p.product_id
GROUP BY p.category
ORDER BY margin_pct DESC;

## 5) ROI por campana
ROI (%) = 100 * (revenue_attributed - spend) / spend.  
Ingreso atribuido: ventas en la tienda dentro de la ventana de la campana (aprox. didactica).

In [ ]:
WITH campaign_sales AS (
  SELECT
    ms.campaign_id,
    ms.campaign_name,
    ms.store_id,
    ms.spend,
    ms.start_date,
    ms.end_date,
    SUM(s.units * p.unit_price) AS revenue_attributed
  FROM marketing_spend ms
  LEFT JOIN sales s 
    ON s.store_id = ms.store_id
   AND s.sale_date BETWEEN ms.start_date AND ms.end_date
  LEFT JOIN products p ON p.product_id = s.product_id
  GROUP BY ms.campaign_id, ms.campaign_name, ms.store_id, ms.spend, ms.start_date, ms.end_date
)
SELECT
  c.campaign_name,
  c.start_date || ' -> ' || c.end_date AS window,
  (SELECT store_name FROM stores WHERE store_id = c.store_id) AS store,
  ROUND(COALESCE(c.revenue_attributed, 0), 2) AS revenue,
  ROUND(c.spend, 2) AS spend,
  ROUND(100.0 * (COALESCE(c.revenue_attributed, 0) - c.spend) / NULLIF(c.spend, 0), 2) AS roi_pct
FROM campaign_sales c
ORDER BY roi_pct DESC;

## 6) Ejercicios guiados (pegar y resolver en RunSQL)
Marca tus respuestas y luego compara con la solucion.

### Ejercicio 1 — Ingreso y margen por tienda (15 min)
Enunciado: calcula revenue, gross_profit y margin_pct por tienda en todo el periodo.

Tu consulta (escribe aqui en RunSQL):

In [ ]:
-- Tu solucion aqui

**Solucion propuesta:**

In [ ]:
SELECT
  st.store_name,
  SUM(s.units * p.unit_price) AS revenue,
  SUM(s.units * p.unit_cost)  AS cost,
  (SUM(s.units * p.unit_price) - SUM(s.units * p.unit_cost)) AS gross_profit,
  ROUND(
    100.0 * (SUM(s.units * p.unit_price) - SUM(s.units * p.unit_cost)) / NULLIF(SUM(s.units * p.unit_price), 0), 2
  ) AS margin_pct
FROM sales s
JOIN stores st  ON st.store_id  = s.store_id
JOIN products p ON p.product_id = s.product_id
GROUP BY st.store_name
ORDER BY revenue DESC;

### Ejercicio 2 — Q3-2025 por categoria (15 min)
Enunciado: filtra ventas de 2025-07-01 a 2025-09-30 y calcula revenue por categoria.

Tu consulta:

In [ ]:
-- Tu solucion aqui

**Solucion propuesta:**

In [ ]:
SELECT
  p.category,
  SUM(s.units * p.unit_price) AS revenue
FROM sales s
JOIN products p ON p.product_id = s.product_id
WHERE s.sale_date BETWEEN '2025-07-01' AND '2025-09-30'
GROUP BY p.category
ORDER BY revenue DESC;

### Ejercicio 3 — Top 3 productos por revenue (10 min)
Enunciado: lista los 3 productos con mayor revenue total.

Tu consulta:

In [ ]:
-- Tu solucion aqui

**Solucion propuesta:**

In [ ]:
SELECT
  p.product_name,
  SUM(s.units * p.unit_price) AS revenue
FROM sales s
JOIN products p ON p.product_id = s.product_id
GROUP BY p.product_name
ORDER BY revenue DESC
LIMIT 3;

**Soluci+on breakoutrooms:**

In [ ]:
SELECT s.sale_id, s.sale_date, st.store_name, p.product_name, s.units
FROM sales s
JOIN stores st ON s.store_id = st.store_id
JOIN products p ON s.product_id = p.product_id
WHERE s.sale_date BETWEEN '2025-09-01' AND '2025-09-30'
ORDER BY s.units DESC;

## 7) Retos (opcional, para casa)
1) Precio y costo promedio ponderado por categoria (ponderado por unidades).  
2) Campanas con revenue_attributed < spend (a partir del CTE de ROI).  
3) Producto estrella por tienda (max revenue por tienda).

## Cierre
- Practicaste DDL, DML y SELECT con JOIN/GROUP BY y KPIs de negocio.  
- Repite el proceso en un playground nuevo para reforzar aprendizaje.  
**Generado:** 2025-10-20 22:14

## Siguientes Pasos
- **Próxima sesión:** Documentación de sentencias SQL y calculos para negocio.
- **Participación continua:** asistir a Co-Learning y a Sprint Focus, y usar los canales de Discord para hacer preguntas.
- **Recordatorios:** la grabación y recursos utilizados, se comparten al finalizar la sesión; en caso de necesitar apoyo adicional, agenda un 1:1.